.App {
  text-align: center;
  position: relative;
  transition: transform .3s;
  background-color: var(--background-color);
  color: var(--mainfontcolor);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Montserrat, Arial, sans-serif;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: white;
  --secondary-background-color: white;
  --mainfontcolor: black;
  --titlefontcolor: black;
  --navfontcolor: black;
  --hightlightcolor: #4A61DD;
  --bordercolor: #EEE;
  --input-bordercolor: rgba(0, 0, 0, 0.5);
  --card-button-background: #F0F3FF;
  --card-button-background-hover: #D8DEFF;
  --card-button-border: none;
  --textarea-border: 1px solid rgba(0, 0, 0, 0.5);
  --textarea-border-focus: 1px solid #4A61DD;
  --button-background: #DEDEDE;
  --urlThemeIcon: url(./images/sun.png);
}

[data-theme='dark'] {
  --background-color: #282C34;
  --secondary-background-color: #21252B;
  --mainfontcolor: #f1f4f7;
  --titlefontcolor: #a5a7a8;
  --navfontcolor: #f1f4f7;
  --hightlightcolor: #8fb6e4;
  --bordercolor: #c4c3c3;
  --input-bordercolor: #c4c3c3;
  --card-button-background: #282C34;
  --card-button-background-hover: #303241;
  --card-button-border: 1px solid #8fb6e4;
  --textarea-border: 1px solid #c4c3c3;
  --textarea-border-focus: 1.5px solid #f1f4f7;
  --button-background: #282C34;
  --urlThemeIcon: url(./images/moon.png);
}